body
{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
div
{
float: center;
 width: 1000px;
 padding-left: 30px;
}
div#header
{
    background-image: url("panorama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-image: fill;
    min-width: 650px;
    max-width: 1000px;
    height: 230px;
}
img
{
    width: 150px;
    height: 150px;
    padding-right: 100px;
    padding-top: 44px;
}
div#right
{
   text-align: right;
}
div#bal
{

float: left;
width: 450px;
background-color: #5b9cea;
border: 200px;
}
div#jobb
{
float: right;

width: 450px;
border: 200px;
background-color: #5b9cea;
}
div#belso
{
    width: 430px;
    padding: 0px;
    border:1px solid white;
}
table
{
    background-color: #b0d1f1;
    border:1px solid black ;
}